#small-paper-iframe {
    position: fixed;
    right: 10px;
    bottom: 60px;
    width: 300px;
    height: 600px;
    border: none;
    border-radius: 8px;
    z-index: 999;
}

#small-paper-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--back, #2c2c2c);
    color: var(--txt, #ededed);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
}